{% extends "base.html.twig" %}

{% block content %}

	<div class="theme">

		{% for cat in categories %}
			<a class={{"categorie"}} href= "cat/{{cat.id}}">{{ cat.name }}</a>
		{% endfor %}
		
	</div>

{% endblock %}
